body{
    margin: 0%;
}

.header{

  display: flex;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 5px solid black;
  background-image: url(/img/fondo\ header.jpg);
}

  
i{
  color: white;
}

.menu-izq{
  display: block;
  margin: 0;
  padding: 0;
  background-color: red;
  font-family: 'Ubuntu', sans-serif;
  list-style-type: none;
  text-align: center;
  width: 14%;
  min-width: 200px;
  height: 100vh;
  position: fixed;
}

.menu-izq .menu-element{
  padding: 5%;
}

.menu-izq .menu-element a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  padding: 10%;
}

.menu-izq .menu-element a:hover{
  background-color: rgb(255, 255, 255);
  color: red;
}

.conten-header{
  margin-left: 3%;
}

.header img{
  border-right: solid black 5px;
}

